<div class="user-info-container ps-4">
  <ng-container *ngIf="user$ | async as user">
    <div class="user-info d-flex align-items-center" *ngIf="user.uid !== null; else loggedOut">
      <img class="user-image me-3" [src]="user.photoURL" />
      <a routerLink="/user" routerLinkActive="active">{{user.displayName}}</a>
    </div>
  </ng-container>
</div>
<div class="nav-content p-4">
  <div class="nav-content-menu" [class.extended]="isExpanded$ | async">
    <ng-container *ngIf="(existsSidebarPortal$ | async) === false; else siedbarPortal">
      <header>
        <div class="h3">Menu</div>
      </header>
      <div class="scroll-content">
        <ul class="navigation-list">
          <li><a class="navigation-item" (click)="closeSidebar()" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li><a class="navigation-item" (click)="closeSidebar()" routerLink="/editor"
              routerLinkActive="active">Editor</a></li>
          <li><a class="navigation-item" (click)="closeSidebar()" routerLink="/documentation"
              routerLinkActive="active">Documentation</a></li>
          <li><a class="navigation-item" (click)="closeSidebar()" routerLink="/list" routerLinkActive="active">List of
              Fighters</a></li>
          <li><a class="navigation-item">Blog</a></li>
          <li><a class="navigation-item">Contact</a></li>
          <li><a class="navigation-item" (click)="closeSidebar()" routerLink="/impressum"
              routerLinkActive="active">Impressum</a></li>
        </ul>
      </div>
      <footer>
        <div class="d-flex justify-content-center">
          <a routerLink="/" class="d-inline-block"><img class="logo" src="assets/img/logo.svg" /></a>
        </div>
      </footer>
    </ng-container>
  </div>
</div>

<ng-template #siedbarPortal>
  <ng-template [cdkPortalOutlet]="sidebarPortal$ | async"></ng-template>
</ng-template>

<ng-template #loggedOut>
  <a class="btn btn-outline-secondary" routerLink="/signin" routerLinkActive="active">sign in</a>
</ng-template>
