<section class="stage" *ngIf="user$ | async as user">
  <div class="stage-background">
    <video src="./assets/img/stage2.mp4" autoplay loop muted playsinline></video>
  </div>
  <div class="container-fluid d-flex flex-column h-100 p-5 position-relative">
    <div class="row">
      <div class="logo-wrapper">
        <a routerLink="/"><img class="logo" src="./assets/img/logo.svg" title="scriptfighter" /></a>
      </div>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <div class="user-info-content p-4" *ngIf="user.uid">
        <h1 class="text-center">User</h1>
        <div class="d-flex justify-content-between align-items-center mt-4">
          <h2 class="text-center">{{user.displayName}}</h2>
          <div class="text-center" *ngIf="user.photoURL">
            <div class="user-image-container">
              <img class="user-image" [src]="user.photoURL">
            </div>
          </div>
        </div>
        <div class="mt-4" *ngIf="user.email">
          <span>{{user.email}}</span>
        </div>
        <div class="mt-4" *ngIf="user.fighter">
          <div class="form-group">
            <label for="user-info-fighter-name">Fighter Name</label>
            <input type="text" class="form-control"
              id="user-info-fighter-name"
              [class.is-invalid]="invalidUserName"
              [formControl]="formControl"
              (blur)="saveFighterName(user.uid)">
          </div>
        </div>
        <div class="text-right mt-4">
          <button class="btn btn-outline-secondary" (click)="signOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</section>
