@import './../../../../core/scss/index';

@keyframes gray-in {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(30%);
  }
}

:host {
  display: block;
}

.stage {
  position: relative;
  height: 100vh;
}

.stage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(30%);

    animation: gray-in 6s ease forwards;
  }
}

.user-info-content {
  width: 400px;
  background-color: $color2;
  color: $color5;
}

.logo-wrapper {
  display: inline-block;
  width: 200px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

.user-image-container {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.user-image {
  max-height: 100%;
  max-width: 100%;
}
