<section class="stage">
  <div class="stage-background">
    <video src="./assets/img/stage2.mp4" autoplay loop muted playsinline></video>
  </div>
  <div class="container-fluid d-flex flex-column h-100 p-5 position-relative">
    <div class="row">
      <div class="logo-wrapper">
        <img class="logo" src="./assets/img/logo.svg" title="scriptfighter" />
      </div>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <div class="stage-content p-4">
        <h1 class="text-center">Scriptfighter</h1>
        <h2 class="pt-3 text-center">
          Learn programming in a playful way and prove your skills by putting your code up against other fighters.
        </h2>
        <div class="d-flex justify-content-center pt-3">
          <a routerLink="/editor" class="btn btn-secondary btn-small ms-2">Lets Code</a>
        </div>
      </div>
    </div>
  </div>
</section>
