<section class="stage">
  <div class="stage-background">
    <video src="./assets/img/stage2.mp4" autoplay loop muted playsinline></video>
  </div>
  <div class="container-fluid d-flex flex-column h-100 p-5 position-relative">
    <div class="row">
      <div class="logo-wrapper">
        <a routerLink="/"><img class="logo" src="./assets/img/logo.svg" title="scriptfighter" /></a>
      </div>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <div class="sign-in-content p-4">
        <h1 class="text-center">Login</h1>
        <div class="mt-4">
          <ul class="login-list text-left">
            <li>
              <button class="btn d-block w-100 text-left btn-google" (click)="signInWithGoogle()">
                <i class="fab fa-google"></i>
                <span class="ms-2">Sign In with Google</span>
              </button>
            </li>
            <li>
              <button class="btn d-block w-100 text-left btn-github" (click)="signInWithGithub()">
                <i class="fab fa-github"></i>
                <span class="ms-2">Sign In with Github</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
